# Mac OS
.DS_Store

# node
node_modules
/Software_Code/jsp/dist/
/Software_Code/client/nbproject/private/
/Software_Code/jsp/build/
/Software_Code/jsp/nbproject/private/

# jsp
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
*.xml
*.class
